<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.draper.itoken.web.account.dao.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.draper.itoken.web.account.domain.Account">
        <id column="id" property="id"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <collection column="rid" property="roleList" ofType="com.draper.itoken.web.account.domain.Role"
                    javaType="ArrayList">
            <id column="rid" property="id"/>
            <result column="name" property="name"/>
            <result column="note" property="note"/>
        </collection>
    </resultMap>

    <select id="selectByUserName" resultMap="BaseResultMap">
        SELECT
		    u.id,
		    u.create_at,
		    u.update_at,
		    u.username,
		    u.password,
		    r.id AS rid,
		    r.name,
		    r.note
        FROM user u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.id
        WHERE u.username = #{username}
    </select>

</mapper>
